<h1>玩具列表</h1>
<%= link_to "新增玩具" , new_toy_path %>
<table>
  <thead>
    <tr>
      <th>玩具名稱</th>
      <th>上傳時間 </th>
      <th>數量</th>
      <th>說明</th>
      <th>修改</th>
    </tr>
  </thead>
  <tbody>
    <% @toys.each do |toy| %>
      <tr>
        <td><%= toy.name %></td>
        <td><%= toy.time %></td>
        <td><%= toy.number %></td>
        <td><%= toy.description %></td>
        <td>
          <%= link_to "編輯" , edit_toy_path(toy) %>
          <%= link_to "刪除", toy_path(toy), method: "delete", data: { confirm: "確認刪除" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>